/* Reset de Estilos Padrão */
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

h1 {
    margin-top: 50px; /* Ajuste conforme necessário */
}

h2,
p {
    margin: 10px 0;
}

.top-buttons {
    float: right;
    margin-top: 10px; /* Ajuste a margem conforme necessário */
}

/* ... Outras definições de estilo permanecem inalteradas ... */

/* Categorias */
.categories-container {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px; /* Ajuste para diminuir a margem inferior */
    margin-top: -160px; /* Ajuste para subir um pouco */
}

.categories-title {
    text-align: left;
    margin-left: 0px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: block;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}

/* Comentários */
.reviews-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Alteração aqui para alinhar os comentários ao topo */
    margin: 10px 0; /* Ajuste conforme necessário */
}

.review-button {
    width: 150px;
    height: 150px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(128, 0, 0);
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.review-1 {
    background-color: #FFD700;
}

.review-2 {
    background-color: #FFA500;
}

.review-3 {
    background-color: #FF6347;
}

.review-4 {
    background-color: #8A2BE2;
}

.review-5 {
    background-color: #00CED1;
}

.review-6 {
    background-color: #98FB98;
}

/* Botão Comentários */
.comentarios-button {
    width: 150px;
    height: 40px;
    margin-top: 10px; /* Ajuste conforme necessário */
    background-color: #3498db;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(128, 0, 0);
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}

